{% extends 'index.html' %}


 {% block content %}
<br>
<center><div class="container text-primary p-3 mb-2 bg-info text-dark" style="border: 2px solid ;
  border-radius: 12px;">
<h1 class="text-danger">General Rules</h1>
   <br>
    <h3>It contain Quiz on Python Java and C language.</h3>
    <br>
    <h3>Each section as 5 Questions.</h3>
    <br>
    <h3>No Negative Marking.</h3>
    <br>
    <h3>Each Question Carry 1 mark.</h3>
    <br>
    <h3>Each Question is compulsory.</h3>


</div></center>
  {% endblock content %}