{% extends 'base.html' %}

  {% block title %}
<nav class="navbar navbar-expand-lg navbar-dark  navbar  bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">QUIZ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
<li class="nav-item">
          <a class="nav-link active" href="{% url 'About' %}"  >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Pythonqestion' %}">Python</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Javaqestion' %}">Java</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="{% url 'Cqestion' %}">C</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
  {% endblock title %}
 {% block content %}
<br>
<br>
<center><div class="container text-primary p-3 mb-2 bg-info text-dark" style="border: 2px solid ;
  border-radius: 12px;">

<h1 class="text-danger">Your Final Score</h1>

    <h3><center><h1>{{mt}}</h1></center></h3>



</div></center>


  {% endblock content %}

